.*
!.gitignore
html/
*.pyc
*.jpg
*.html
__pycache__/
env/
*.db
/scripts/blacklight_json
/scripts/privacy_scraper/blacklight_json
/data/blacklight_json
/data/blacklight_json_requests
scripts/privacy_scraper/blacklight_json.tar.gz
data/blacklight_json.tar.gz
scripts/blacklight_db.ipynb
/data/whotracksme_jsons
/data/website_trackers
data/yg/realityMine_app_visits_2022-06-01_2022-06-30.csv
data/yg/realityMine_media_play_2022-06-01_2022-06-31.csv
data/yg/realityMine_web_2022-06-01_2022-06-30.csv
data/yg/realityMine_web_desktop_2022-06-01_2022-06-30.csv
data/yg/realityMine_web_mobile_2022-06-01_2022-06-30.csv
