adblock
adjustText
beautifulsoup4
db-dtypes
google-cloud-bigquery
inequality
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterthemes
matplotlib
notebook==6.4.12
numpy
pandas
patsy
pyarrow
pyjanitor
requests
seaborn
statsmodels
tldextract
traitlets==5.9.0
wayback
